.top-page-header{
  display: flex;
  align-items: center;
  background-color: beige;
  height: 60px;
  width: 100%;
}

.lists-right{
  margin: 0;
}

.user_name, .logout, .login, .sign-up{
  display: inline-block;
  margin: 0 0 0 20px;
}

#item_search{
  display: flex;
}

.search-button{
  margin-left: 5px;
}

.top-logo a {
  text-decoration: none;
  color: green;
  font-size: 30px;
}