body {
  display: flex;
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
}

.header{
  height: 100vh;
  flex-shrink: 0;
  width: 245px;
  border-right: 1px solid rgb(230, 230, 230);
  position: sticky;
  top: 0;
}

.header-container {
  height: 100%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-logo {
  padding: 30px 10px 30px;
}

.top-logo a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
}

.side-bottom {
}

.side-navi {
  height: 100%;
}

.navi-content {
  border-radius: 10px;
  height: 50px;
  width: 100%;
  margin-bottom: 8px;
}

.navi-content a {
  text-decoration: none;
  display: flex;
  height: 100%;
  width: 100%;
  color: black;
}

.navi-content:hover {
  background-color: rgb(243, 243, 243);
  transition: 0.3s
}

.navi-content:hover .navi-icon {
  transform: scale(1.07);
}

.navi-content:hover .navi-user-icon {
  transform: scale(1.07);
}

.navi-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.navi-icon {
  width: 24px;
  height: 24px;
  margin-right: 14px;
  margin-left: 13px;
}

.navi-user-icon {
  border-radius: 50%;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin-right: 11px;
  margin-left: 10px;
  border: 1.9px solid rgba(247, 93, 139, 1);
}

.menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu-link a {
  display: flex;
  justify-content: center;
  color: black;
}

.navi-content-create {
  border-radius: 30px;
  height: 50px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(247, 93, 139, 1), rgba(254, 220, 64, 1));
}

.navi-link-create {
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navi-content-create:hover {
  background-color: rgb(243, 243, 243);
  transition: 0.3s
}

.navi-content-create:hover .navi-icon {
  transform: scale(1.07);
}

.bottom-content {
  border-radius: 10px;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
}

.bottom-content a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: black;
}

.bottom-content:hover {
  background-color: rgb(243, 243, 243);
  transition: 0.3s
}

.bottom-content:hover .navi-icon {
  transform: scale(1.07);
}