.header{
  background-color: beige;
  height: 60px;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 10px;
}

.top-logo a {
  text-decoration: none;
  color: green;
  font-size: 30px;
}

.header-right{
  display: flex;
  align-items: center;
  height: 100%;
}

.header-right a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 10px;
  height: 100%;
}

.icon-header {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 5px;
}

.user_name, .logout, .login, .sign-up{
  display: inline-block;
  margin: 0 0 0 20px;
}

#item_search{
  display: flex;
}

.search-button{
  margin-left: 5px;
}
