.item-contents {
  width: 100%;
  height: 100%;
}

.item-lists {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 980px; /* 最大幅を設定 */
  gap: 4px; /* 画像間のスペースを設定 */
}

.posted-item {
  flex: 0 0 calc(33.33% - 10px); /* 幅を均等に分割し、スペースを考慮 */
  height: 320px;
  margin: 0;
  position: relative;
}

.posted-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.posted-image:hover {
  filter: brightness(0.6);
}

.item-counts {
  position: absolute;
  top: 280px;
  right: 18px;
  text-decoration: none;
  color: white;
  display: none;
}

.item-counts a {
  height: 100%;
  width: 100%;
}

.posted-item:hover .item-counts {
  display: flex;
  align-items: center;
}

.posted-item:hover {
  .posted-image {
    filter: brightness(0.6);
  }
}

.white-heart {
  height: 18px;
  width: 18px;
  object-fit: cover;
  margin-right: 4px;
}

.white-count {
  margin-right: 10px;
}

.heart {
  height: 18px;
  width: 18px;
  object-fit: cover;
  margin-right: 5px;
}

.heart-after-text {
  color: pink;
  font-size: 15px;
}

.heart-before-text {
  color: black;
}

.item-likes a {
  display: flex;
  align-items: center;
  text-decoration: none;
}