#modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.7);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  animation-name: fade;
  animation-duration: 0.3s;
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.modal-header {
  padding: 3px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header h1 {
  margin-right: 30px;
}

.modalClose {
  font-size: 1.3rem;
  cursor: pointer;
}

.modal-body {
  padding: 15px 25px;
}