#modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(131, 131, 131, 0.7);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  width: 50%;
  animation-name: popup;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 3px 15px;
}

.modalClose {
  font-size: 1.3rem;
  cursor: pointer;
}

.modal-body {
  padding: 15px 25px;
}