.search-content {
  width: 100%;
  margin-bottom: 8px;
}

.search-form {
  width: 100%;
  margin-left: 10px;
}

.search-field{
  width: 225px;
  margin: 0.5rem 0;
}

.check_lb {
  display:block;
}

#post_search{
  display: flex;
}

.checkbox-category {
  display: flex;
  flex-direction: column;
}