

#detailed-search-form{
  background-color: white;
  width: 350px;
}

.search-field{
  margin: 0.5rem 0;
}

#detailed-search-result-wrapper{
  width: 80%;
  display: flex;
}

.list{
  list-style: none;
}

#detailed-search-result{
  width: 100%;
  display: flex;
}

.check_lb {
  display:block;
}

#post_search{
  display: flex;
}

.checkbox-category {
  display: flex;
  flex-direction: column;
}