#detailed-search-form{
  background-color: white;
  width: 350px;
}

.search-field{
  margin: 0.5rem 0;
}

.check_lb {
  display:block;
}

#post_search{
  display: flex;
}

.checkbox-category {
  display: flex;
  flex-direction: column;
}