.timeline-item-lists {
  display: flex;
  flex-wrap: wrap;
  margin-left: 18%;
  margin-top: 20px;
  max-width: 450px;
  gap: 4px;
}

.timeline-posted-item {
  height: 600px;
  margin: 0;
}

.timeline-item-head {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 14px;
  color: gray;
}

.timeline-user {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-right: 6px;
}

.timeline-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 7px;
}

.timeline-item-image img{
  width: 468px;
  height: 468px;
  object-fit: cover;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.timeline-item-bottom {
  display: flex;
  align-items: center;
}

.timeline-item-bottom a {
  margin-right: 10px;
}

.timeline-comment {
  margin-top: 15px;
  width: 100%;
  border: none;
  outline: none;
}